.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    position: relative;
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: var(--color-blue-400);
    &:hover {
      text-decoration: underline;
    }
  }
}
